<div class="page">
    <div class="btn-white-back">
        <img src="./assets/Arrow.svg" alt="">
    </div>
  <div class="container container-page cont-page-3">
    <div class="checkout-container">
        <div class="left-block block">
            <div class="com-title-block com-title-block-left">
            <p class="checkout-title text-center">
                Your Selected Plan
            </p>
        </div>
            <div class="thankyou-plan checkout-ty-plan">
                <h5 class="ty-title">ACT Swift</h5>
                <div class="ty-plan-features mt-1">
                    <div class="single-ty-plan first-ty-plan">
                        <img src="./assets/Speed-white.svg" alt="">
                        <p class="ty-text txt-yellow">75 Mbps</p>
                    </div>
                    <div class="single-ty-plan sec-ty-plan pos-rel text-center">
                        <p class="monthly-data">Monthly Data</p>
                        <p class="ty-text txt-yellow">750 GB</p>
                    </div>
                    <div class="single-ty-plan">
                        <p class="ty-text price-monthly txt-yellow">₹838<span>/month*</span></p>
                    </div>
                </div>
            </div>
            <div class="router-opt-block">
                <div class="rout-left">
                    <p>The Archer C6</p>
                    <img src="./assets/router1.png" alt="">
                </div>
                <div class="rout-btn">
                    <div class="btns">     
                        <a href="" class="right-btn btn red-btn">Remove</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-block block">
            <div class="com-title-block">
            <p class="offer-headline text-center">Add some LIV to your life!</p>
            <p class="offer-descp text-center">Pay 100/- extra and enjoy 5+ OTT apps along with 300+ LIVE Channels.</p>
        </div>
            <div class="checkout-block">
                <div class="checkout-pallet">
                    <div class="cp-amt cp">
                        <div class="single-pay">
                            <div class="single-pay-left">
                                <p class="cp-text cp-font">Current Outstanding</p>
                            </div>
                            <div class="single-pay-right">
                                <div class="cp-money cp-font">₹ XXX.XX</div>
                            </div>
                        </div>
                        <div class="single-pay">
                            <div class="single-pay-left">
                                <p class="cp-text cp-font">New Plan</p>
                                <p class="cp-text-descp">12 Months ACT Basic</p>
                            </div>
                            <div class="single-pay-right">
                                <div class="cp-money cp-font">₹ XXX.XX</div>
                            </div>
                        </div>
                        <div class="single-pay">
                            <div class="single-pay-left">
                                <p class="cp-text cp-font">Offer</p>
                            </div>
                            <div class="single-pay-right">
                                <div class="cp-money cp-font">₹ XXX.XX</div>
                            </div>
                        </div>
                        <div class="single-pay">
                            <div class="single-pay-left">
                                <p class="cp-text cp-font offer-rout-icon"><img src="./assets/OfferRouter.svg" alt=""> + <img src="./assets/OfferRouter.svg" alt=""></p>
                            </div>
                            <div class="single-pay-right">
                                <div class="cp-money cp-font">₹ XXX.XX</div>
                            </div>
                        </div>
                        <div class="single-pay">
                            <div class="single-pay-left">
                                <p class="cp-text cp-font offer-rout-icon">Amount Payable</p>
                            </div>
                            <div class="single-pay-right">
                                <div class="cp-money cp-font">₹ XXX.XX</div>
                            </div>
                        </div>
                        <div class="tandc">
                            <div class="form-group">
                                <input type="checkbox" id="txt-form-grp">
                                <label for="txt-form-grp">I accept to receive important information and payment updates over WhatsApp</label>
                            </div>
                        </div>
                        <div class="otp-block-alt">
                            <a href="#">Get OTP</a><input type="text" placeholder="Enter OTP" />
                        </div>
                        <div class="btn-checkout text-center mt-1">
                            <a href="#" class="lg-red-btn">Proceed to Pay</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
  </div>
</div>