  <!-- Login Page Start -->
  <div class="page">
    <div class="container container-page login-page">
      <div class="left-block">
        <h1 class="spotlight-text">
          Your gateway to<br />
          seamless possibilities!
        </h1>
        <img src="../assets/banner.png" alt="" class="img-fluid banner-img" />
      </div>
      <div class="right-block">
        <div class="form-block">
          <div class="form-data">
            <div class="form-title">Login to Manage your Plan</div>
            <input
              type="text"
              placeholder="Account ID/User ID/Registered Mobile No."
              id="usernameField"
              required
              [(ngModel)]="postData.account_no"
              
              />
            <div class="otp-block" *ngIf="responseData && responseData.status">
                <p class="otp-text">OTP has been sent</p>
                <input type="text" placeholder="Enter OTP">
            </div>
            <a class="lg-red-btn" (click)="submitForm()">Submit</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Login Page End -->