.review-container {
  width: 70%;
}
.review-title {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}
.review-blocks {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.review-block {
  width: calc((100% / 2) - 15px);
  border-radius: 15px;
  border: 1px solid #fff;

  background: #fff;
  padding: 20px;
}
.review-block.rb2 {
  padding: 0px;
  border: 0px;
  background-color: transparent;
}
.review-block .inner-rb2 {
  padding: 20px;
  width: 75%;
  height: auto;
  background-color: #fff;
  border-radius: 15px;
  height: 100%;
}
.plan-text-sub {
  color: #898989;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
}
.lg-plan-text {
  color: #000;
  font-size: 26px;
  font-weight: 600;
  line-height: 48px;
}
.ty-plan-features {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  max-width: 325px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.ty-plan-features.alt-ty-plan-features {
  max-width: 100%;
  margin: 10px 0 10px;
}
.alt-ty-plan-features .first-ty-plan {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
.ty-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}
.review-block.rb2 {
    padding: 0px;
    border: 0px;
    background-color: transparent;
}
.bundle-gp {
    display: flex;
    gap: 10px;
    align-items: center;
}
.bundle-gp-img img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.bundle-text {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.bundle-descp {
    color: #898989;
    font-size: 12px;
    font-weight: 400;
}
.ott-icon-bundle {
    margin-top: 15px;
}
.ott-icon-bundle {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.ott-icon-bundle img {  
    width: 50px;
    height: 50px;
}
.speed-crossed {
    margin-top: 10px;
}
.speed-crossed span:first-child {
    color: #000;
    font-size: 14px;
    position: relative;
    margin-right: 4px;
}
.speed-crossed span:first-child::before {
    position: absolute;
    width: 100%;
    content: "";
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
    height: 1px;
}
.speed-crossed span:nth-child(2) {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}
.chg-plan {
    color: #898989;
    font-size: 14px;
}
.rb4 p {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.rb4 ul {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
}
.rb4 ul li {
    display: flex;
    gap: 5px;
    align-items: center;
    width: calc(100% / 2);
}
.rb4 ul li {
    display: flex;
    gap: 5px;
    align-items: center;
    width: calc(100% / 2);
}
.rb4 ul li img {
    width: 15px;
    height: 15px;
    margin: 10px 0;
}