<div class="page">
    <div class="btn-white-back">
        <img src="../../assets/Arrow.svg" alt="">
    </div>
  <div class="container container-page cont-page-3">
    <div class="review-container">
      <h2 class="review-title text-center">Review Changes</h2>
      <div class="review-blocks">
        <div class="review-block rb1">
          <p class="plan-text-sub text-center">Your new plan will be:</p>
          <div class="lg-plan-text text-center">ACT Swift</div>
          <div class="ty-plan-features mt-1 txt-black alt-ty-plan-features">
            <div class="single-ty-plan first-ty-plan">
              <img src="../../assets/Speed.svg" alt="">
              <p class="ty-text">75 Mbps</p>
            </div>
            <div class="single-ty-plan sec-ty-plan pos-rel alt-sec-ty-plan text-center">
                <p class="monthly-data">Monthly Data</p>
              <p class="ty-text">750 GB</p>
              
            </div>
            <div class="single-ty-plan">
              <p class="ty-text price-monthly">₹838<span>/month*</span></p>
            </div>
          </div>
        </div>
        <div class="review-block rb2">
          <div class="inner-rb2">
            <div class="bundle-gp">
                <div class="bundle-gp-img">
                    <img src="../../assets/gift-icon.svg" alt="">
                </div>
                <div class="bundle-gp-det">
                    <p class="bundle-text">ACT Bundles</p>
                    <p class="bundle-descp">OTT Benefits</p>
                </div>
            </div>
            <div class="ott-icon-bundle">
                <img src="../../assets/Sunnxt.png" alt="">
                <img src="../../assets/Sunnxt.png" alt="">
                <img src="../../assets/Sunnxt.png" alt="">

            </div>
          </div>

        </div>
        <div class="review-block rb3">
            <div class="bundle-gp">
                <div class="bundle-gp-img">
                    <img src="../../assets/fibre-plan.svg" alt="">
                </div>
                <div class="bundle-gp-det">
                    <p class="bundle-text">Fiber plan</p>
                    <p class="bundle-descp">Your new plan will be:</p>
                </div>
            </div>
            <p class="speed-crossed mb-1"><span>300 Mbps</span><span>300 Mbps</span></p>
            <p class="chg-plan">Higher speed due to change in plan
            </p>
        </div>
        <div class="review-block rb4">
            <p>No changes to your benefits</p>
            <ul>
                <li><img src="../../assets/seemless-speed.svg" alt="">Seamless 4K streaming</li>
                <li><img src="../../assets/fast-surfing.svg" alt="">Hyper-fast surfing</li>
                <li><img src="../../assets/up-down-speed.svg" alt="">Equal upload download speeds</li>
                <li><img src="../../assets/connection.svg" alt="">24*7 Uninterrupted Connectivity</li>
                <li><img src="../../assets/LanIcon.svg" alt="">100% Plan speeds Assured on LAN*</li>
            </ul>
        </div>
      </div>
      <div class="btns mt-3 review-btns mb-1">
        <a href="#" class="left-btn btn white-border-btn">Cancel</a>
        <a href="" class="right-btn btn white-btn">Continue</a>
    </div>
    </div>
  </div>
</div>