<div class="error-block text-center">
    <img src="../../assets/Tick.svg" alt="" height="75px" width="75px" class="tick" />
    <h2 class="error-text">Thank you</h2>
    <h3 class="error-msg">Name surname</h3>
    <p class="md-text">Your transaction ID : 18742684</p>
    <p class="md-text">You are now Upgraded to</p>
    <div class="thankyou-plan">
        <h5 class="ty-title">ACT Swift</h5>
        <div class="ty-plan-features mt-1">
            <div class="single-ty-plan first-ty-plan">
                <img src="../../assets/Speed-white.svg" alt="">
                <p class="ty-text">75 Mbps</p>
            </div>
            <div class="single-ty-plan sec-ty-plan pos-rel">
                <p class="ty-text">750 GB</p>
                <p class="monthly-data">Monthly Data</p>
            </div>
            <div class="single-ty-plan">
                <p class="ty-text price-monthly">₹838<span>/month*</span></p>
            </div>
        </div>
    </div>
    <div class="thankyou-benefits">
        <div class="benefit-single">
            <img src="../../assets/ott-white.svg" alt="">
                <div class="tag-text">OTT</div>
        </div>
        
        <div class="benefit-single">
            <img src="../../assets/router-white.svg" alt="">
                <div class="tag-text">Router</div>
        </div>
    </div>
</div>