<!-- Main Page Start -->
<div class="page">
    <div class="container container-page cont-page-3">
      <div class="left-block plan-selector">
        <div class="back-btn">
          <img
            src="../../assets/Arrow.svg"
            alt="arrow"
            height="50px"
            width="50px"
            class="img-fluid"
          />
        </div>
        <div class="plan-details">
          <div class="plan-block curr-plan-block">
            <div class="specific-plan-block">
              <p class="spec-text">Current Block</p>
              <div class="custom-radio-field">
                <label for="radio1">
                <input type="radio" class="radio-red-block-alt"  name="radioBox" id="radio1" checked />
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 20 20" fill="none" class="circle-svg">
                  <circle cx="10" cy="10" r="9.5" stroke="#BCBCBC" class="circ1" />
                  <circle cx="10" cy="10" r="4.5" fill="#BCBCBC" stroke="#BCBCBC" class="circ2" />
                  </svg>
                </label>
              </div>
            </div>
            <p class="plan-block-price">₹ 799 <span>+ Taxes</span></p>
            <div class="speed-view">
              <p class="sm-speed">Up to</p>
              <p class="bd-sm-speed">200 Mbps</p>
              <p class="sm-speed">ENTERTAINMENT</p>
            </div>
          </div>
          <div class="plan-block curr-plan-block">
            <div class="specific-plan-block">
              <p class="spec-text">Recommended</p>
              <div class="custom-radio-field" >
                <label for="radio2">
                  <input type="radio" class="radio-red" name="radioBox" id="radio2" />
                <svg xmlns="http://www.w3.org/2000/svg" class="rec-svg" width="16" height="19" viewBox="0 0 16 19" fill="none">
                  <path d="M15 18L8 13.2778L1 18V2.88889C1 2.38792 1.21071 1.90748 1.58579 1.55324C1.96086 1.19901 2.46957 1 3 1H13C13.5304 1 14.0391 1.19901 14.4142 1.55324C14.7893 1.90748 15 2.38792 15 2.88889V18Z" fill="#ED3034" stroke="#ED3034" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </label>
              </div>
            </div>
            <p class="plan-block-price">₹ 1024 <span>+ Taxes</span></p>
            <div class="speed-view">
              <p class="sm-speed">Up to</p>
              <p class="bd-sm-speed">300 Mbps</p>
              <p class="sm-speed">ENTERTAINMENT</p>
            </div>
          </div>
          <div class="plan-block curr-plan-block view-plans-btn">
            <p class="plan-text">View More Plans</p>
          </div>
          
          <div class="plan-block curr-plan-block fibre-plan">
            <div class="specific-plan-block">
              <p class="spec-text">Fibre Plans</p>
              
            </div>
            <div class="fibre-details">
              2 more plans
              <img src="../../assets/Arrow-rb-red.svg" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="right-block plan-detailer">
        <div class="pd-title text-center">
          <p class="sub-title">Your current plan</p>
          <h3 class="title">Unlimited Plan</h3>
        </div>
        <div class="pd-container">
          <div class="pd-left-cont pd-cont">
            <p class="med-text">Plan &amp; Benefits</p>
            <div class="pd-monthly">
              <p class="pd-price">₹ 799/month <span>+ taxes</span></p>
            </div>
            <div class="feature">
              <img src="../../assets/data.svg" alt="" />
              <p class="med-text">Unlimited data</p>
            </div>
            <div class="feature">
              <img src="../../assets/Speed.svg" alt="" />
              <p class="med-text">200 Mbps speed</p>
            </div>
            <div class="ott-block">
              <div class="ott-icons">
                <div class="ott">
                  <img src="../../assets/Sunnxt.png" alt="" />
                </div>
                <div class="ott">
                  <img src="../../assets/Sunnxt.png" alt="" />
                </div>
                <div class="ott">
                  <img src="../../assets/Sunnxt.png" alt="" />
                </div>
                <div class="ott">
                  <img src="../../assets/Sunnxt.png" alt="" />
                </div>
                <div class="ott">
                  <img src="../../assets/Sunnxt.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="pd-right-con pd-cont">
            <p class="add-plan">Add to your plan</p>
            <div class="pd-rout">
              <div class="add-rout-block flex-center">
                <p class="rout-name">The Archer C6</p>
                <img src="../../assets/router1.png" alt="" class="img-fluid" />
              </div>
              <div class="add-rout-detail">
                <a href="javascript:void(0)" class="more-link"
                  >More <img src="../../assets/redArrow.svg" alt="" />
                </a>
                <a href="#" class="add-btn">Add</a>
              </div>
              <div class="more-link-details active">
                <p>
                  The Archer C6 creates a reliable and blazing-fast network
                  powered by 802.11ac Wi-Fi technology. The 2.4GHz band
                  delivers speeds up to 300Mbps
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="upgrade-btn text-center mb-1">
          <a href="#" class="lg-red-btn" id="testpop">Upgrade</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Page End -->