.plan-selector {
    display: flex;
    gap: 20px;
    height: 300px;
    width: 30% !important;
}
.plan-selector .plan-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.plan-details .plan-block {
    border-radius: 15px;
    border: 1px solid #000;
    background: #fff;
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.15);
    padding: 20px 10px;
}
.plan-selector .plan-details .plan-block {
    width: calc((100% / 2) - 15px);
    margin-bottom: 20px;
}
.plan-details .plan-block .specific-plan-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.plan-details .plan-block .specific-plan-block p.spec-text {
    color: #898989;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.custom-radio-field {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.radio-red-block-alt {
    display: none;
}
.radio-red-block-alt:checked + svg .circ1 {
    stroke: #ed3034;
}
.radio-red-block-alt:checked + svg .circ2 {
    stroke: #ed3034;
    fill: #ed3034
}
.radio-red {
    display: none;
}
.rec-svg path {
    fill: none;
    transition: fill 0.3s ease;
}
.radio-red:checked + .rec-svg path {
    fill: #ed3034;
}
.plan-details .plan-block.view-plans-btn p.plan-text {
    color: #ed3034;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
}
.plan-details .plan-block .plan-block-price {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
}
.plan-details .plan-block .plan-block-price span {
    color: #898989;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 38px;
    text-transform: lowercase;
}
.plan-details .plan-block .speed-view {
    border-radius: 18px;
    background: linear-gradient( 180deg, #fee8e9 0%, rgba(241, 241, 241, 0) 234.81% );
    padding: 20px 10px;
    text-align: center;
}
.plan-details .plan-block .speed-view .sm-speed {
    color: #898989;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
}
.plan-details .plan-block .speed-view .bd-sm-speed {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
}
.fibre-details {
    color: #000;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}
.plan-detailer {
    background: linear-gradient(180deg, #fee8e9 30.48%, #fff 100.76%);
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    width: 70% !important;
}
.pd-title {
    margin-top: 30px;
}
.pd-title .sub-title {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
}
.pd-title .title {
    color: #ed3034;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.4;
}
.pd-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    max-width: 95%;
    margin: 20px auto 0px;
}
.pd-container .pd-cont {
    width: calc((100% / 2) - 15px);
    background-color: #fff;
    border-radius: 25px;
    padding: 30px 15px;
}
.pd-monthly {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 10px;
}
.pd-monthly .pd-price span {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
}
.pd-cont .feature {
    display: flex;
    gap: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.ott-block {
    margin-top: 1.5rem;
}
.ott-icons {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    padding-bottom: 10px;
}
.ott-icons img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.pd-cont .add-plan {
    color: #000;
    text-align: center;
    font-size: 22px;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.4;
}
.pd-rout {
    border-radius: 12px;
    background: #f1f1f1;
    padding: 10px 20px 20px;
}
.add-rout-block {
    gap: 30px;
}
.rout-name {
    color: #505050;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}
.add-rout-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more-link {
    color: #ed3034;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}
.add-btn {
    border-radius: 15px;
    background: #ed3034;
    color: #fff;
    padding: 10px 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
}
.more-link-details {
    margin-top: 15px;
    display: none;
}
.more-link-details p {
    color: #000;
}
.ott-icons::-webkit-scrollbar {
    width: 3px;
    height: 8px;
}
.ott-icons::-webkit-scrollbar-thumb {
    background-color: #ed3034;
    border-radius: 6px;
}